[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
ipython = "*"
pytest = "*"
sphinx = "*"
twine = "*"
pytest-runner = "*"
coverage = "*"

[requires]
python_version = "3.8"
